	body {
    		background-color: #508461;
		
	}

	h1 {
    		color: #001c05;
    		text-align: center;
		border: 2px #001c05 solid;
		font-family: Courier;
		text-transform: uppercase;
	}
	
	h2 {
    		color: #001c05;
   		text-indent: 50px;
		font-family: Courier;
	}

p,.list{
    		color: #001c05;
		font-family: Courier;
    		font-size: 20px;
	}

	td {
    		color: #001c05;
		font-family: Courier;
    		font-size: 20px;
		text-align: center;
	}
	
img.casual{
    		border:10px #3c6349 double;
	}

   img.top{
    		border-top:10px #3c6349 double;
		border-left:10px #3c6349 double;
		border-right:10px #3c6349 double;
		width:350;
	}

img.bottom{
		border-left:10px #3c6349 double;
		border-right:10px #3c6349 double;
		border-bottom:10px #3c6349 double;
		width:350;
	}

img.center{
		border-left:10px #3c6349 double;
		border-right:10px #3c6349 double;
		width:350;
	}
